[core]
    sshCommand = ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
[url "https://github.com/"]
    insteadOf = git@github.com:
[credential]
    helper = store
[http]
    sslVerify = false
    lowSpeedLimit = 0
    lowSpeedTime = 999999
[fetch]
    recurseSubmodules = false 